// FONTS SIZES
$font-content-normal: 13px;
$font-content-medium: 14px;
$font-content-large: 15px;
$font-content-xlarge: 16px;

$font-title-normal: 17px;
$font-title-medium: 18px;
$font-title-large: 19px;
$font-title-xlarge: 20px;

$main-background-color: #000;
$box-background-color: #576574;
$box-background-neutral: #dfe4ea;
$box-shadow: #c8d6e5;
$box-background-color-empty: #b2bec3;

$placeholder-color: #95a5a6;

$row-background: #2d3436;
$row-background-active: #74b9ff;
$row-hover-color: #74b9ff;

$font-primary-color: #ffffff;
$btn-background-color: #1e90ff;
$btn-background-color-disabled: #b2bec3;
$btn-background-error: #d63031;
