.user-form-container {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  display: flex;

  &-input {
    width: calc(100% - 55px);
    border: 0;
    font-size: $font-content-medium;
    padding: 0 10px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $placeholder-color;
    }
  }

  &-button {
    width: 55px;
    height: 35px;
    font-size: $font-content-medium;
    font-weight: 600;
    border: 0;
    background: $btn-background-color;
    color: $font-primary-color;

    &:disabled {
      background: $btn-background-color-disabled;
      cursor: not-allowed;
    }
  }
}